---
import AsSeenIn from '../components/AsSeenIn.astro';
import Layout from '../layouts/Layout.astro';
import LivestockAssoc from '../components/LivestockAssoc.astro';
import WhatDoWeBring from '../components/WhatDoWeBring.astro';
---

<Layout title="Rowan Ranch">
	<main>
		<WhatDoWeBring />		
		<LivestockAssoc />
		<AsSeenIn />
	</main>
</Layout>