
<div class="py-12 sm:py-24">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <p class="mx-auto my-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight sm:text-5xl">As Seen In</p>
        <div class="asseen-flexbox">
            <div class="asseen">
            </div>
            <div class="asseen">
                <img src="/rrl.png" alt="RRL" />
            </div>
            <div class="asseen">
            </div>
        </div>
    </div>  
</div>