<header>
    <a class="mx-auto flex justify-center my-6" href="#">
        <span class="sr-only">Rowan Ranch</span>
        <img class="h-8 w-auto" src="/brand.png" alt="">
    </a>
    <nav class="" aria-label="Global">
      <div class="flex-1">
        <div class="flex gap-x-12 justify-center">
          <a href="#" class="text-sm/6 font-semibold">Home</a>
          <a href="https://rowan-ranch.square.site" class="text-sm/6 font-semibold">Products</a>
          <a href="https://www.youtube.com/@rowan_ranch" class="text-sm/6 font-semibold">Video</a>
          <!-- <a href="https://rowanranch.blogspot.com" class="text-sm/6 font-semibold">Blog</a> -->
          <a href="mailto:jaken@rowanranch.com" class="text-sm/6 font-semibold">Contact</a>
        </div>
      </div>
    </nav>
  </header>
  