
<div class="py-12 sm:py-24">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <p class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight sm:text-5xl">We are proud members of the following livestock associations</p>
        <div class="livestock-association-flexbox">
            <div class="livestock-association">
                <img src="/akkps.png" alt="AKKPS" />
            </div>
            <div class="livestock-association">
                <img src="/tsgra.png" id="tsgra" alt="TSGRA" />
            </div>
            <div class="livestock-association">
                <img src="tppa.png" alt="TPPA" />
            </div>
        </div>
    </div>  
</div>