<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <p class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight sm:text-5xl">What do we bring to the table?</p>
      <div class="mt-12 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center bento-header">Texas Lamb</p>
              <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">Of all the animals we raise on the ranch, sheep are probably our favorite. There’s something about the wool, the taste of lamb, the lanolin, and the romance of sheep rearing. We breed Dorpers, Painted Deserts, as well as Tunis-cross sheep and we also raise butcher lambs.</p>
            </div>
            <div class="mt-2 items-center justify-center px-8">
                <img class="" src="/lamb.jpg" alt="">
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-1">
          <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight bento-header max-lg:text-center">Fresh Eggs</p>
              <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">Our buff orpington hens are happy, healthy layers.</p>
            </div>
            <div class="my-2 flex flex-1 items-center justify-center px-8 max-lg:pb-12 max-lg:pt-10 sm:px-10 lg:pb-2">
              <img class="w-full max-lg:max-w-xs" src="/layers.png" alt="">
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
          <div class="absolute inset-px rounded-lg bg-white"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight bento-header max-lg:text-center">Texas Pork</p>
              <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">We raise both AKKPS KuneKune hogs and old line Durocs.</p>
            </div>
            <div class="my-2 flex flex-1 items-center justify-center px-8 max-lg:pb-12 max-lg:pt-10 sm:px-10 lg:pb-2">
                <img class="w-full max-lg:max-w-xs" src="/hog.png" alt="">
              </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
        </div>
        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight bento-header max-lg:text-center">Small Ruminant Services</p>
              <p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">Get in touch with us if you need help with sheep/goat movement, tagging, hoof-trimming, or just need a phone call to see where to get started with small ruminant rearing.</p>
            </div>
            <div class="mt-2 items-center justify-center px-8">
                <img class="" src="/services.png" alt="">
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
        </div>
      </div>
    </div>
  </div>